<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logfile" value="C:\Users\Desktop\Integration\NotieLogs"/>
		<add key="mailbox" value="ibanking@....."/>
		<add key="mailpass" value="ibanking...."/>
		<add key="mailIP" value="mailServer.."/>
		<add key ="APIUrl" value ="https:......"/>
		<add key="mailport" value=""/>
		<add key="phone" value="07000...."/>
		<add key="sender" value="diogracom...."/>
		<add key="senderName" value="Name_Bank"/>
		<add key="TimerLag" value="2000"/>
		<add key="TimerPeriod" value="3000"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>